
A:link {color: gray}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: teal}
	
Body {
	background-color: white;
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 50pt; text-align: right}
H2 {font-size: 25pt; text-align: right}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}

	@media only screen and (max-width: 390px) {
	h1{
		width: 250px;
		background-color: aliceblue;
		text-align: center; 
		align-content: center;
		margin: auto;
  		border: 3px solid green;
  		padding: 10px;


	}
	.logo-img{
		margin: auto;
		width: 360px;	
	}
	h5{
		margin: auto;
		width: 200px;
	}
	.information-content{
		width: 360px;
		margin: auto;
	}


	  }
	  @media only screen and (max-width: 390px){
		  
	  }

	  /* Desktop*/
@media only screen and (max-width:2000px){

	Table{
		position: relative;
		max-width: 100%;
	}

	Form{
		position: relative;
		max-width: 100%;
	}

 }

 

 /*Tablets*/
 @media only screen and (max-width:800px){
	H2{
		font-size: 15pt;
		text-align: center;
	}

	H4{
		font-size: 15pt;
		text-align: center;
	}

	.logo-img{
		background-position: left;
		position: relative;
		max-width: 75%;
		max-height: 75%; 
	}

	.hero-img{
		height: 500pt;
		top: -560px;
		position: relative;
		background-position: center;
		
	}

	#rev{
		font-size: 5pt;
	}

	Table{
		position: relative;
		max-width: 800px;
		max-height: 100%;
	}

	Form{
		position: relative; 
		max-width: 800px;
		max-height: 100%;
	}
 }
 
 /* Phones*/
 @media only screen and (max-width: 750px) {
	H2{
		font-size: 10pt;
		text-align: left;
	}

	H4{
		font-size: 10pt;
		text-align: left;
		top: 500px; 
	}

	#rev{
		font-size: 5pt;
		text-align: left;
	}

	.logo-img{
		position: relative;
		max-width: 300px;
		top: -70pt;
	}

	.hero-img{
		height: 300pt;
		top: -400px;
		position: relative;
		background-position: center;
		
	}

	Table{
		position: relative;
		background-position: center;
		max-width: 700px;
		max-height: 100%;
	}

	Form{
		position: relative; 
		max-width: 700px;
		max-height: 100%;
	}

 }